/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*COLORS

Red: #F83B3F
Yellow: #FCB744
White: #EFEBEC
Black: #17242E

*/


@font-face {
    font-family: "Stymie";
    src: url(../fonts/stymixbc.ttf);
}

@font-face {
    font-family: "Century Schoolbook L";
    src: url(../fonts/CenturySchL-Roma.ttf);
}

@font-face {
    font-family: "Rockwell Std Bold Condensed";
    src: url(../fonts/RockwellStd-BoldCondensed.otf);
}

@font-face {
    font-family: "Swanish Two";
    src: url(../fonts/Swanish Two.otf);
}

h1 {
    font-family: "Stymie";
    font-size: 6.25rem; 
    text-transform: uppercase;
}

h2 {
    font-family: "Stymie";
   font-size: 2.75rem; 
    text-transform: uppercase;
}

h3 {
    font-family: "Stymie";
   font-size: 1.5rem;  
    text-transform: uppercase;
}

p {
    font-family: "Century Schoolbook L";
   font-size: 1rem;  
    line-height: 1.2;
}

a {
    font-family: "Stymie";
   font-size: 1rem;  
    text-transform: uppercase;
    text-decoration: none;
    color: #EFEBEC;
}

button {
     font-family: "Rockwell Std Bold Condensed";
   font-size: 1rem;  
    text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    cursor: none;
}

body.no-scroll {
  overflow: hidden
}

body>img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.cursor {
    z-index: 100;
    width: 30px;
    height: 30px;
    
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    pointer-events: none;
    
    background-image: url(../images/cursor-red.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    transform-origin: 50% 50%;
    
     animation-name: cursoranimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*
.cursor::after {
    z-index: 100;
    width: 30px;
    height: 30px;
    position: absolute;
    
    content: "";
    background-image: url(../images/cursor-red-nomiddle.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    transform-origin: 50% 50%;
    
     animation-name: cursoranimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
*/

.cursor.mouseclick {
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.cursor.mousewhite {
     background-image: url(../images/cursor-white.svg);
}

@keyframes cursoranimation {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

/*INTROSECTION*/

/*
body > section:nth-of-type(1) {
    display: none;
}
*/

@keyframes opacitytransition {
    0% {
       opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes opacitytransition-reverse {
    0% {
       opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes introsection-position {
    0% {
       height: 100vh;
    }
    
    100% {
        height: 0vh;
    }
}

body > section:nth-of-type(1) {
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: #EFEBEC;
    
     animation-name: introsection-position;
    animation-delay: 7s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/*
@keyframes gunbarrelintro-rotation {
    0% {
       opacity: 0;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
*/

@keyframes gunbarrelintro-rotation {
    0% {
       opacity: 0;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    33% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(360deg);
        top: 50%;
       height: 20rem;
    }
    
    66% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(360deg);
        top: 50%;
       height: 20rem;
    }
    
    100% {
        opacity: 1;
        height: 3.75rem;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0%) rotate(720deg);
    }
}

/*

@keyframes gunbarrelintro-rotation-alt {
    0% {
        top: 150%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    70% {
        top: 50%;
    }
    
    100% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

header > section:nth-of-type(1) div {
  clip: rect(0px, 15rem, 15rem, 0px);
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}
*/

body > section:nth-of-type(1) img {
    fill: #17242E;
    height: 20rem;
    transform-origin: 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
    
    animation-name: gunbarrelintro-rotation, opacitytransition-reverse;
    animation-delay: 3s, 9s;
    animation-duration: 6s, 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


body > section:nth-of-type(1) h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #17242E;
}

body > section:nth-of-type(1) h2:nth-of-type(1) {
    left: 6.25rem;
    
    opacity: 0;
    animation-name: opacitytransition, opacitytransition-reverse;
    animation-delay: 1s, 7s;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    
}

body > section:nth-of-type(1) h2:nth-of-type(1)::after{
    content: "clicks";
    position: absolute;
    font-family: "Stymie";
    font-size: 6.25rem; 
    text-transform: uppercase;
    letter-spacing: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #F83B3F;
    z-index: -10;
}

body > section:nth-of-type(1) h2:nth-of-type(2) {
    right: 6.25rem;
    
    opacity: 0;
    animation-name: opacitytransition, opacitytransition-reverse;
    animation-delay: 1s, 7s;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

body > section:nth-of-type(1) h2:nth-of-type(2)::after{
    content: "them";
    position: absolute;
    font-family: "Stymie";
    font-size: 6.25rem; 
    text-transform: uppercase;
    letter-spacing: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #F83B3F;
    z-index: -10;
}

body > section:nth-of-type(1) h2 span {
    font-size: 1.5rem
}

@keyframes bulletsleftanimation {
    0% {
        bottom: 6rem;
        opacity: 0;
        
    }
    
    100% {
        opacity: 1;
        bottom: 3rem;
    }
}

body > section:nth-of-type(1) h3 {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #17242E;
    text-align: center;
    
    opacity: 0;
    animation-name: bulletsleftanimation, opacitytransition-reverse;
    animation-delay: 3s, 7s;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

body > section:nth-of-type(1) h3::after{
    text-align: center;
    content: "VIII";
    position: absolute;
    font-family: "Stymie";
    font-size: 4rem; 
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #F83B3F;
    z-index: -10;
}

/*OUT OF BULLETS*/

@keyframes outofbulletsanimation {
    0% {
        transform: rotate(0deg);
    }
    
     100% {
    transform: rotate(1turn);
    }
}

body > section:nth-of-type(2) {
    position: fixed;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background-color: #17242E;
    text-align: center;
    padding: 3rem;
    top: -100vh;
    transition: 1s;
}

body > section:nth-of-type(2).outofbullets {
    top: 0vh;
}

body > section:nth-of-type(2) h1 {
    color: #FCB744;
    font-size: 12.5rem;
    margin-bottom: 2rem;
}

body > section:nth-of-type(2) h1:nth-of-type(2) {
    font-size: 10rem;
}

body > section:nth-of-type(2) div {
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}

body > section:nth-of-type(2) div img {
    display: inline-block;
    transform-origin: 50% 50%;
    width: 7.25rem;
    animation-name: outofbulletsanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

body > section:nth-of-type(2) div h2 {
    padding-right: 2rem;
    display: inline-block;
    color: #EFEBEC;
}

body > section:nth-of-type(2) div h2:nth-of-type(2) {
    padding-left: 2rem;
}

body > section:nth-of-type(2) h3 {
    color: #EFEBEC;
}

body > section:nth-of-type(2) h3 > span {
    font-size: 1rem;
}

/*HEADER*/

header  {
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3rem;
    opacity: 0;
    
    animation-name: opacitytransition;
    animation-delay: 9s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

header > svg:nth-of-type(1) {
    fill: #EFEBEC; 
    height: 3.75rem;
    display: inline-block;
    transition: 1s;
}

header > svg.shownav {
    fill: #EFEBEC; 
    margin-left: 3rem;
}

header > svg:nth-of-type(2) {
    fill: #EFEBEC; 
    height: 3.75rem;
    transform-origin: 50% 50%;
     display: inline-block;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.usedbullet {
    transition: .5s;
    opacity: .5;
}

header > svg:nth-of-type(1).changecolorlogo {
    fill: #F83B3F;
}

header > svg:nth-of-type(2).changecolorgun {
    fill: #17242E;
}

header > svg.usedbulletgun1 {
transform: translate(-50%, -50%) rotate(-45deg);
    transition-duration: .5s;
}

header > svg.usedbulletgun2 {
transform: translate(-50%, -50%) rotate(-90deg);
    transition-duration: .5s;
}

header > svg.usedbulletgun3 {
transform: translate(-50%, -50%) rotate(-135deg);
    transition-duration: .5s;
}

header > svg.usedbulletgun4 {
transform: translate(-50%, -50%) rotate(-180deg);
    transition-duration: .5s;
}

header > svg.usedbulletgun5 {
transform: translate(-50%, -50%) rotate(-225deg);
    transition-duration: .5s;
}

header > svg.usedbulletgun6 {
transform: translate(-50%, -50%) rotate(-270deg);
    transition-duration: .5s;
}

header > svg.usedbulletgun7 {
transform: translate(-50%, -50%) rotate(-315deg);
    transition-duration: .5s;
}

header > svg.usedbulletgun8 {
transform: translate(-50%, -50%) rotate(-360deg);
    transition-duration: .5s;
}


header button {
    display: inline-block;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    transition: .3s;
    opacity: 1;
    color: #EFEBEC;
}

header button:nth-of-type(2) {
    opacity: 0;
    display: none;
}

header button:nth-of-type(1).hideheaderopen {
     opacity: 0;
    display: none;
}


header button:nth-of-type(2).revealheaderexit {
     opacity: 1;
    display: inline-block;
}

.changecolor1 {
    color: #17242E;
}

header nav {
    overflow: none;
    position: absolute;
    background-color: #F83B3F;
    height: 100vh;
    width: calc(0vw - 3rem);
    right: 0;
    top: 0;
    z-index: -10;
    transition: 1s;
}

header nav.shownav {
    width: calc(100vw - 3rem);
}

header nav ul {
    margin-left: 15rem;
    margin-top: 15rem;
    display: inline-block;
}

header nav ul li a {
    font-family: "Stymie";
   font-size: 2.75rem; 
    text-transform: uppercase;
    color: #17242E;
    transition: .3s;
}

header nav ul li a:hover {
    color: #FCB744;
}

header nav ul li a span {
    font-family: "Stymie";
   font-size: 1.5rem;  
    text-transform: uppercase;
    text-align: right;
    width: 2rem;
    margin-right: .5rem;
    display: inline-block;
}

header nav div {
   position: absolute;
    bottom: 3rem;
    left: 3rem;
}

header nav div h3 {
    display: block;
    color: #EFEBEC;
    margin-bottom: 1rem;
}

header > nav div > svg:nth-of-type(1) {
    margin-left: -.5rem;
}

header > nav div > svg {
    fill: #EFEBEC;
    width: 1.5rem;
    display: inline-block;
    margin-right: -.5rem;
    transition: .5s;
}

/*MAIN LANDING*/

main {
     z-index: -20;
}

main > section:nth-of-type(1) {
    background-color: #F83B3F;
/*
    width: 100vw;
    height: 100vh;
    display: block;
*/
    z-index: -10;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--1 {
  transform: translateZ(0);
}

.parallax__layer--2 {
  transform: translateZ(-.5px) scale(1.5);
}

.flyingbirds {
    opacity: 0;
    transform: translate(-1rem, 1rem);
}

.flyingbirds.scaredflyingbirds {
    opacity: 1;
        transform: translate(0rem, 0rem);
    transition: 1s;
}

.parallax__layer--3 {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--4 {
  transform: translateZ(-1.5px) scale(2.5);
}

.parallax__layer--5 {
  transform: translateZ(-2px) scale(3);
}

.parallax__layer--6 {
  transform: translateZ(-2.5px) scale(3.5);
}

.parallax__layer--7 {
  transform: translateZ(-3px) scale(4);
}

.parallax__layer--title {
  transform: translateZ(-10px) scale(11);
}

.parallax__layer--text {
  transform: translateZ(0);
    transform: translateZ(-.2px) scale(1.2);
}

.parallax__layertext {
  position: absolute;
  top: 120vh;
  right: 0;
  bottom: 0;
  left: 0;
}


/*MAIN STORY*/

.parallax__layertext > section {
    padding: 6rem;
    background-color: #17242E;
/*    width: 100vw;*/
    height: 120vh;
/*
    display: flex;
    justify-content: space-between;
*/
/*    position: relative;*/
    
    display: grid;
        grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 40%);
}

.parallax__layertext > section > h2 {
    width: 70%;
    text-transform: unset;
    color: #EFEBEC;
    line-height: 1.2;
    
    grid-column: 1 / 5;
}

.parallax__layertext article {
    position: relative;
    text-transform: capitalize;
    color: #EFEBEC;
    text-align: center;
     z-index: 2;
    
    grid-column: 5; 
    justify-self: end;
}

.parallax__layertext article:nth-of-type(1) {
    display: none;
}

.parallax__layertext article:nth-of-type(1).story-eightcharacters {
    display: inline-block;
}

.parallax__layertext article:nth-of-type(2) {
    display: none;
}

.parallax__layertext article:nth-of-type(2).story-twosettings {
    display: inline-block;
}

.parallax__layertext article:nth-of-type(3) {
     display: none;
}

.parallax__layertext article:nth-of-type(3).story-onedirector {
    display: inline-block;
}

.parallax__layertext article h3 {
    margin-bottom: .5rem;  
    position: relative;
    display: inline-block;
}

.parallax__layertext article h3::before {
        content: url(../images/divider-white.svg);
    position: absolute;
    top: -5px;
    left: -165px;
    width: 145px;
}

.parallax__layertext article h3::after {
        content: url(../images/divider-white2.svg);
    position: absolute;
    top: -5px;
    right: -165px;
    width: 145px;
}

.parallax__layertext article p:nth-of-type(1) {
    font-family: "Swanish Two";
    font-size: 15.5rem;
    color: #F83B3F;
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.parallax__layertext article h2 {
    margin-bottom: 1.5rem;  
}

.parallax__layertext article p {
width: 20rem;   
    text-transform: none;
    margin-bottom: 1.5rem;
}

.parallax__layertext div:last-of-type {
    width: 20rem;
    grid-column: 5;
    grid-row: 2;
    justify-self: end;
}

.parallax__layertext div:last-of-type > div {
    width: auto;
    display: table;
    margin: 0 auto
}

.parallax__layertext div svg {
    fill: #EFEBEC;
    width: 1.5rem;
    display: inline-block;
    margin-left: .25rem;
    margin-right: .25rem;
    transition: .5s;
}

.parallax__layertext > img {
    display: block;
    margin-top: -20rem;
}

/*MAIN CHARACTERS*/

main > section:nth-of-type(2) {
    padding: 6rem;
 background-color: #EFEBEC;
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: visible;
    
        display: flex;
    align-items: center;
  justify-content: center;
}

main section:nth-of-type(2) > div:nth-of-type(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

main section:nth-of-type(2) > div:nth-of-type(1) h3 {
    margin-bottom: .5rem;  
    position: relative;
    display: inline-block;
    color: #F83B3F;
}

main section:nth-of-type(2) > div:nth-of-type(1) h3::before {
        content: url(../images/divider-red.svg);
    position: absolute;
    top: -5px;
    left: -165px;
    width: 145px;
}

main section:nth-of-type(2) > div:nth-of-type(1) h3::after {
        content: url(../images/divider-red2.svg);
    position: absolute;
    top: -5px;
    right: -165px;
    width: 145px;
}

main section:nth-of-type(2) div:nth-of-type(1) h2 {
    color: #F83B3F;
}

main section:nth-of-type(2) div:nth-of-type(2) h1 {
    font-size: 18.75rem;
    background: url("../images/Bountyhunter-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
    transition: 1s;
    transition: .5s;
}

main section:nth-of-type(2) div:nth-of-type(2) h1.hatefulone {
    background: url("../images/Bountyhunter-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main section:nth-of-type(2) div:nth-of-type(2) h1.hatefultwo {
    background: url("../images/Hangman-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main section:nth-of-type(2) div:nth-of-type(2) h1.hatefulthree {
    background: url("../images/Prisoner-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main section:nth-of-type(2) div:nth-of-type(2) h1.hatefulfour {
    background: url("../images/Sheriff-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main section:nth-of-type(2) div:nth-of-type(2) h1.hatefulfive {
    background: url("../images/Mexican-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main section:nth-of-type(2) div:nth-of-type(2) h1.hatefulsix {
    background: url("../images/Cowpuncher-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main section:nth-of-type(2) div:nth-of-type(2) h1.hatefulseven {
    background: url("../images/Littleman-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main section:nth-of-type(2) div:nth-of-type(2) h1.hatefuleight {
    background: url("../images/Confederate-blackwhite.png") center;
    background-size: 100vw;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main section:nth-of-type(2) div:nth-of-type(2) {
    z-index: 10;
}

main section:nth-of-type(2) div:nth-of-type(2) > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main section:nth-of-type(2) div:nth-of-type(2) > div h2 {
    color: #17242E;
    transition: .5s;
}

main section:nth-of-type(2) div:nth-of-type(2) > div h2:hover {
    color: #F83B3F;
}

main section:nth-of-type(2) > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}


/*CHARACTER DETAIL*/

main section:nth-of-type(2) > section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
/*    display: flex;*/
    justify-content: flex-start;
     overflow: hidden;
    display: none;
}

main section:nth-of-type(2) > section > article:nth-of-type(1) {
    position: relative;
    display: inline-block;
    width: 40vw;
    height: 100vh;
    background-color: #EFEBEC;
        z-index: 10;
}

main section:nth-of-type(2) > section > article:nth-of-type(1) > p {
    font-family: "Stymie";
    font-size: 4rem; 
    text-transform: uppercase;
    color: #F83B3F;
    
    position: absolute;
    text-align: left;
    left: 6.5rem;
    bottom: 1rem;
    min-width: 200%;
    transform-origin: left;
    transform: rotate(270deg);
    
}

main section:nth-of-type(2) > section > article:nth-of-type(1) > img:nth-of-type(1) {
        position: absolute;
    height: 700px;
    left: 3rem;
    top: 9rem;
    z-index: 10;
     -webkit-filter: drop-shadow(15px 0px 25px rgba(0,0,0,0.25));
}

main section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(1) > img:nth-of-type(1) {
    height: 1700px;
    left: 5rem;
    top: -23rem;
}

main section:nth-of-type(2) > section:nth-of-type(6) > article:nth-of-type(1) > img:nth-of-type(1) {
    height: 700px;
    left: 2rem;
    top: 7rem;
}

main section:nth-of-type(2) > section:nth-of-type(7) > article:nth-of-type(1) > img:nth-of-type(1) {
        height: 450px;
    left: 6rem;
    top: 21rem;
}

main section:nth-of-type(2) > section > article:nth-of-type(1) > div {
    position: absolute;
    left: 60%;
    top: 10rem;
    transform: translateX(-50%);
    text-align: left;
    color: #17242E;
}

main section:nth-of-type(2) > section > article:nth-of-type(1) > div h3 {
    margin-bottom: .5rem;
}

main section:nth-of-type(2) > section > article:nth-of-type(1) > div p {
    margin-bottom: 1.3rem;
}

main section:nth-of-type(2) > section > article:nth-of-type(1) > img:nth-of-type(2) {
    height: 100%;
    position: absolute;
    top: 0;
    right: -2.2rem; 
}

main section:nth-of-type(2) > section > article:nth-of-type(2) {
    position: relative;
    display: inline-block;
    width: 60vw;
    height: 100vh;
text-align: center;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(1) {
     margin: auto;
    margin-top: 10rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 1.5rem;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div h3 {
    margin-bottom: .5rem;  
    position: relative;
    display: inline-block;
        color: #EFEBEC;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div h3::before {
        content: url(../images/divider-white.svg);
    position: absolute;
    top: -5px;
    left: -165px;
    width: 145px;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div h3::after {
        content: url(../images/divider-white2.svg);
    position: absolute;
    top: -5px;
    right: -165px;
    width: 145px;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div h1 {
     color: #EFEBEC;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > img:nth-of-type(1) {
    width: 40rem;
    position: absolute;
    bottom: 0;
    right: -14.5rem;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > h3 {
    position: relative;
    display: block;
    margin: auto;
    color: #EFEBEC;
    margin-bottom: 1.5rem;
    z-index: 10;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > p {
    position: relative;
    display: block;
    margin: auto;
    color: #EFEBEC;
    width: 23rem;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > img:nth-of-type(2) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40vw;
    z-index: -10;
    width: 100vw;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2) {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2) button {
    background-color: transparent;
    border: none;
    margin: 0;
    background-image: url(../images/bullet-left-white.svg);
    background-size: 2.5rem;
    background-repeat: no-repeat;
        background-position: right 0rem;
    padding-right: 3.5rem;
    color: #EFEBEC;
    transition: .3s;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2) button:nth-of-type(2) {
    position: relative;
     background-image: none;
    padding: 0;
    color: #EFEBEC;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2) button:nth-of-type(2)::after {
   content: "";
    position: absolute;
    width: 3rem;
    height: .2rem;
    background-color: #EFEBEC;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2) button:nth-of-type(2):hover {
    letter-spacing: 2px;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2) button:nth-of-type(3) {
    background-image: url(../images/bullet-right-white.svg);
        background-position: left 0rem;
    padding-right: 0;
    padding-left: 3.5rem;
    color: #EFEBEC;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2) button:nth-of-type(1):hover {
    background-position: 3rem 0rem;
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2) button:nth-of-type(3):hover {
    background-position: .5rem 0rem;
}

/*CHARACTER DETAIL TRANSITION*/

main section:nth-of-type(2) > section.opendetail {
        display: flex;
}

@keyframes characterdetailintro-transition {
    0% {
     -webkit-mask-image: url(../images/Grunge-mask2.svg);
    -moz-mask-image: url(../images/Grunge-mask2.svg);
    -o-mask-image: url(../images/Grunge-mask2.svg);
    mask-image: url(../images/Grunge-mask2.svg);
    -webkit-mask-size: 100vw;
        -webkit-mask-position-x: 50%;
    -webkit-mask-position-y: 0vh;
    -webkit-mask-repeat: no-repeat;
    }
    
    100% {
     -webkit-mask-image: url(../images/Grunge-mask2.svg);
    -moz-mask-image: url(../images/Grunge-mask2.svg);
    -o-mask-image: url(../images/Grunge-mask2.svg);
    mask-image: url(../images/Grunge-mask2.svg);
    -webkit-mask-size: 100vw;
        -webkit-mask-position-x: 50%;
    -webkit-mask-position-y: 100vh;
    -webkit-mask-repeat: no-repeat;
    }
}

main section:nth-of-type(2) > section.exitdetail {
    animation-name: characterdetailintro-transition;
    animation-duration: 1s;
      animation-delay: 0s;
    animation-fill-mode: forwards;
    
}

@keyframes characterdetailintro1 {
    0% {
/*        margin-left: -40vw;*/
        transform: translate(-43vw);
    }
    
    100% {
/*        margin-left: 0vw;*/
        transform: translate(0vw);
    }
}

main section:nth-of-type(2) > section > article:nth-of-type(1).characterdetailintro1 {
    position: relative;
    display: inline-block;
    width: 40vw;
    height: 100vh;
    background-color: #EFEBEC;
    
    transform: translate(-43vw);
    animation-name: characterdetailintro1;
    animation-duration: 1s;
      animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes characterdetailintro2 {
    0% {opacity: 0;
        transform: translate(3rem);
    }
    
    100% {
        opacity: 1;
        transform: translate(0rem);
    }
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(1).characterdetailintro2,
main section:nth-of-type(2) > section > article:nth-of-type(2) > img:nth-of-type(1).characterdetailintro2,
main section:nth-of-type(2) > section > article:nth-of-type(2) > h3.characterdetailintro2,
main section:nth-of-type(2) > section > article:nth-of-type(2) > p.characterdetailintro2,
main section:nth-of-type(2) > section > article:nth-of-type(2) > div:nth-of-type(2).characterdetailintro2{
    
    opacity: 0;
    transform: translate(3rem);
    animation-name: characterdetailintro2;
    animation-duration: 1s;
     animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes characterdetailintro3 {
    0% {
/*        left: 0vw;*/
         transform: translate(0vw) translateY(-50%);
        opacity: 0;
    }
    
    50% {
/*        left: 0vw;*/
        transform: translate(0vw) translateY(-50%);
        opacity: 1;
    }
    
    100% {
/*        left: -40vw;*/
        transform: translate(0vw) translateY(-50%);
        opacity: 1;
    }
}

main section:nth-of-type(2) > section > article:nth-of-type(2) > img:nth-of-type(2).characterdetailintro3 {
    position: absolute;
    top: 50%;
    z-index: -10;
    width: 100vw;
    
    opacity: 0;
   transform: translate(0vw) translateY(-50%);
     animation-name: characterdetailintro3;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

/*MAIN SETTINGS*/

.settingsection {
  min-height: 100vh;
}
  .settingsection--sticky {
    min-height: 300vh;
  }


.sticky {
  display: block;
  position: sticky;
  top: 0;
  min-height: 100vh;
  background-color: #EFEBEC;
  padding: 0;   
}

.sticky article:nth-of-type(1) {
    text-align: center;
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #EFEBEC;
    opacity: 1;
    transition: .5s;
}

.sticky article:nth-of-type(1).hidesettingstitle {
    opacity: 0;
}

.sticky article:nth-of-type(1)::before {
    content: url(../images/divider-white-up.svg);
        position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -160px;
    width: 10px;
}

.sticky article:nth-of-type(1)::after {
    content: url(../images/divider-white-down.svg);
        position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -160px;
    width: 10px;
}

.settingtwo-sticky article:nth-of-type(1) {
  color: #17242E;  
}

.settingtwo-sticky article:nth-of-type(1)::before {
    content: url(../images/divider-black-up.svg);
}

.settingtwo-sticky article:nth-of-type(1)::after {
    content: url(../images/divider-black-down.svg);
}

.sticky article:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    padding: 3rem 6rem 3rem 6rem;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transition: .5s;
}

.sticky article:nth-of-type(2).showsettinginfo {
    opacity: 1;
}

.sticky article:nth-of-type(2) h3 {
    text-align: right;
    color: #EFEBEC;
    margin-bottom: 3rem;
}

.sticky article:nth-of-type(2) h3 span {
    font-size: 1rem;
}

.sticky article:nth-of-type(2) > div:nth-of-type(1) {
    display: inline-block;
    width: calc(100% - 50px);
    height: 3px;
    background-color: #EFEBEC;
    margin-bottom: 3rem;
}

.sticky article:nth-of-type(2) > a img {
    display: inline-block;
    float: right;
    width: 30px;
    margin-top: -3px;
    transition: .3s;
}

.sticky article:nth-of-type(2) > a img:hover {
    width: 35px;
}

.settingtwo-sticky article:nth-of-type(2) > div:nth-of-type(1) {
    float: right;
}

.settingtwo-sticky article:nth-of-type(2) > a img {
    float: left;
}

.sticky article:nth-of-type(2) div:nth-of-type(2) {
    display: inline-block;
    text-align: center;
    margin-left: 4rem;
}

.sticky article:nth-of-type(2) div:nth-of-type(2) h3 {
    margin-bottom: .5rem;  
    position: relative;
    display: inline-block;
}

.sticky article:nth-of-type(2) div:nth-of-type(2) h3::before {
        content: url(../images/divider-white.svg);
    position: absolute;
    top: -5px;
    left: -165px;
    width: 145px;
}

.sticky article:nth-of-type(2) div:nth-of-type(2) h3::after {
        content: url(../images/divider-white2.svg);
    position: absolute;
    top: -5px;
    right: -165px;
    width: 145px;
}

.sticky article:nth-of-type(2) div:nth-of-type(2) h2 {
    color: #EFEBEC;
}

.sticky article:nth-of-type(2) p {
    float: right;
    color: #EFEBEC;
    display: inline-block;
    text-align: right;
    width: 30%;
}

  .sticky--figure {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
  }

main section:nth-of-type(3) .sticky--figure {
    -webkit-mask-image: url(../images/Grunge-mask2.svg);
    -moz-mask-image: url(../images/Grunge-mask2.svg);
    -o-mask-image: url(../images/Grunge-mask2.svg);
    mask-image: url(../images/Grunge-mask2.svg);
    -webkit-mask-size: 100vw;
    -webkit-mask-repeat: no-repeat;
  }

  .sticky--figure > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scale(2.5);
  }

  .settingtwo-figure > img {
    object-fit: cover;
      object-position: 55% 50%;
  }

.directordivider {
    margin-top: -2.5rem;
    position: relative;
    display: block;
}

/*DIRECTOR*/

main > section:nth-of-type(5) {
    padding: 12rem 6rem 6rem 6rem;
 background-color: #FCB744;
    width: 100vw;
    height: 105vh;
    position: relative;
    transition: 1s;
    overflow: hidden;
}

main > section:nth-of-type(5).revealdirectorcontent {
    height: 200vh;
}

main > section:nth-of-type(5) > img:nth-of-type(1) {
    position: absolute;
    top: -3rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

main > section:nth-of-type(5) article:nth-of-type(1) {
        position: relative;
    z-index: 20;
}

main > section:nth-of-type(5) article:nth-of-type(1) > h2 {
    width: 70%;
     width: 50%;
    text-transform: unset;
    color: #17242E;
    line-height: 1.2;
    
margin-bottom: 6rem;

}

main > section:nth-of-type(5) article:nth-of-type(1) p {
    margin-bottom: 6rem;
    width: 24rem;
}

main > section:nth-of-type(5) article:nth-of-type(1) div:nth-of-type(1) {
    margin-bottom: 6rem;
}

main > section:nth-of-type(5) article:nth-of-type(1) div:nth-of-type(1)  img {
    display: inline-block;
    width: 8rem;
}

main > section:nth-of-type(5) article:nth-of-type(1) div:nth-of-type(1)  img:nth-of-type(2) {
    margin-left: 3rem;
}

main > section:nth-of-type(5) article:nth-of-type(2) {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
     z-index: 10;
    
        height: inherit;
    overflow: hidden;
}

main > section:nth-of-type(5) article:nth-of-type(2) p {
    position: absolute;
    top: 3rem;
    right: 20rem;
    font-family: "Swanish Two";
    font-size: 28rem;
    color: #F83B3F;
}

main > section:nth-of-type(5) article:nth-of-type(2) img {
    position: absolute;
    top: 0rem;
    right: -20rem;
    width: 1100px;
}

main > section:nth-of-type(5) article:nth-of-type(2) img:nth-of-type(1) {
    position: absolute;
    top: 9rem;
    right: 16.5rem;
    width: 2.5rem;
    z-index: 20;
}

main > section:nth-of-type(5) article:nth-of-type(2) img:nth-of-type(2) {
        position: absolute;
    top: 5rem;
    right: 13.5rem;
    width: 8rem;
    z-index: 30;
    display: none;
}

main > section:nth-of-type(5) article:nth-of-type(2) p:nth-of-type(2) {
    font-size: 16rem;
    top: 25rem;
    right: 6rem;
}

main > section:nth-of-type(5) > div:nth-of-type(1) {
    position: relative;
    height: 30rem;
    width: 100%;
}

main > section:nth-of-type(5) > div:nth-of-type(1) img:nth-of-type(1) {
    position: relative;
    margin-left: -6rem;
}

main > section:nth-of-type(5) > div:nth-of-type(1) img:nth-of-type(2) {
    margin-top: -3rem;
    margin-left: -18rem;
    height: 100%;
}

main > section:nth-of-type(5) > div:nth-of-type(1) span {
     position: absolute;
    top: calc(50% + 3rem);
    transform: translateY(-50%);
    right: 0;
    width: 20rem;
    height: 100%;
    background-color: #FCB744 ;
}


main > section:nth-of-type(5) > div:nth-of-type(1) p {
    color: #EFEBEC;
    position: absolute;
    top: calc(50% + 3rem);
    transform: translateY(-50%);
    right: -3rem;
    width: 24rem;
    z-index: 20;
}

/*FOOTER*/

footer {
    background-color: #17242E;
    width: 100vw;
    position: relative;
    padding: 3rem 0rem 3rem 0rem;
}

footer > img:nth-of-type(1) {
    position: absolute;
    top: -3rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

footer h2 {
    text-align: center;
    margin: 0rem auto;
    margin-bottom: 3rem;
    color: #EFEBEC;
}

footer h2 span {
    font-size: 1.5rem;
}

footer > div {
    position: relative;
    height: 15rem;
    margin-bottom: 3rem;
    overflow-x: hidden;
}

footer > div img {
    position: absolute;
    transition: 1s;
    
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

footer > div img:nth-of-type(1) {
   left: -100%;
    top: 30%;
}

footer > div img:nth-of-type(2) {
   right: -100%;
    top: 70%;
}

footer > div img:nth-of-type(1).gunlefttransition {
   left: 0;
}

footer > div img:nth-of-type(2).gunrighttransition {
   right: 0;
}

footer > div p {
     font-family: "Stymie";
   font-size: 1.5rem;  
    text-transform: uppercase;
    color: #EFEBEC;
    position: absolute;
    opacity: 0;
    transition: .5s;
}

footer > div p:nth-of-type(1) {
   top: 30%;
    left: 60%;
}

footer > div p:nth-of-type(2) {
  top: 70%;
    right: 60%;
}

footer > div p:nth-of-type(1).footeropacity,
footer > div p:nth-of-type(2).footeropacity {
   opacity: 1;
}

footer > div p:nth-of-type(1)::after {
      content: url(../images/divider-white2.svg);
    position: absolute;
    top: -5px;
    right: -165px;
    width: 145px;
}

footer > div p:nth-of-type(2)::before {
    content: url(../images/divider-white.svg);
    position: absolute;
    top: -5px;
    left: -165px;
    width: 145px;
}

footer > p {
     font-family: "Stymie";
   font-size: 1rem;  
    text-transform: uppercase;
    text-align: center;
    color: #FCB744;
}